<h1>dotted line - home page</h1>
sdf
<ul>
  <li ng-repeat="player in players.all"> <a ui-sref="show({ id: player.id })"> {{ player.name }} </a>
    <button ng-click="players.playersDelete(player)">Delete</button></li>
</ul>

<!-- <p>About to add: {{ players.newPlayer }}</p>

<form ng-submit="players.playersCreate()">
  <input type="text" name="" value="" ng-model="players.newPlayer.name" placeholder="name">
  <input type="number" name="" value="" ng-model="players.newPlayer.age" placeholder="age">
  <input type="text" name="" value="" ng-model="players.newPlayer.team" placeholder="team">
  <input type="number" name="" value="" ng-model="players.newPlayer.avGoals" placeholder="goals">
  <input type="number" name="" value="" ng-model="players.newPlayer.avAssists" placeholder="assists">
  <input type="submit" value='Save player'>
</form> -->
